<p style="color: green"><%= notice %></p>

<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "FAQs and Help Documents | TAMU Wakeboarding" %>
</head>

<%= render "/navbar"%>

<p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>FAQs</pageTitleHolder>
</h1>

<mainContentHolder>

  <%# Rider FAQs %>
  <h3 class="text-3xl mb-4">Joining Sets</h3>
  <p class="font-bold">When can I join a set?</p>
  <p class="mb-3">Registration for sets of the week opens Sunday at 8pm CST. At this time until 11:59 pm Sunday night you may only join 1 set. If there are sets with available spots the following morning you are free to join them without restrictions.</p>
  
  <p class="font-bold">Why can’t I join a set even though I’m not already on it?</p>
  <p class="mb-3">If it’s Sunday, you will not be able to join any sets scheduled for the following week until 8pm CST. If it’s not Sunday, the Set may already be full or the set may have been scheduled for a past date. Your liability and waiver documents may also not have been signed or processed which will prohibit you from joining a set.</p>
  
  <p class="font-bold">Who can join a set?</p>
  <p class="mb-3">Anyone can join that is part of the organization.</p>
  
  <p class="font-bold">Do I need a signed waiver to sign up for sets?</p>
  <p class="mb-3">Yes all 3 waiver and liability documents must be signed and process in order to be able to sign up for sets.</p>
  
  <%# Driver FAQs %>
  <h3 class="text-3xl">Creating Sets</h3>
  <h5 class="text-sm mb-4"><i>*Only available to Drivers</i></h5>
 
  <p class="font-bold">How can I create a set?</p>
  <p class="mb-3">You can create a set by clicking the “Rides” button in the top right navigation bar. Once the page loads, click on the “create set” button. From there, you can enter the date of the set and add up to 1 additional driver.</p>

</mainContentHolder>
