<p style="color: green"><%= notice %></p>

<h1>Set roles</h1>

<div id="set_roles">
  <% @set_roles.each do |set_role| %>
    <%= render set_role %>
    <p>
      <%= link_to "Show this set role", set_role %>
    </p>
  <% end %>
</div>

<%= link_to "New set role", new_set_role_path %>
