<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "New User | TAMU Wakeboarding" %>
</head>


  
<p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>New User</pageTitleHolder>
</h1>
  
<mainContentHolder>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Back to users", users_path %>
  </div>
  
</mainContentHolder>
