<div class="flex flex-row rounded-full bg-slate-200 items-center max-w-fit">
  <img src=<%= user.avatar_url %> class="w-7 h-7 p-1 rounded-full" />
  <span class="pr-3 text-gray-800"><%= user.first_name %></span>
</div>