<div class="flex rounded-full bg-slate-200 items-center mb-1 mr-1 last:mr-0">
  <div class="block w-7 h-7 p-1">
    <img src="<%= user.avatar_url %>" class="object-cover w-full h-full rounded-full" />
  </div>
  <div class="pr-3 w-auto overflow-hidden">
    <p class="text-gray-800"><%= user.first_name %></p>
  </div>
</div>