<head>
	<%= stylesheet_link_tag "styles.css" %>

	<%= stylesheet_link_tag "styles.css" %>
	<%- title "Howdy! | TAMU Wakeboarding" %>

	<style>
		* {box-sizing: border-box}
		body {font-family: Verdana, sans-serif; margin:0}
		.mySlides {display: none}
		img {vertical-align: middle;}

		/* Slideshow container */
		.slideshow-container {
		  max-width: 100;
		  max-height: 100;
		  position: relative;
		  margin: auto;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
	</style>
</head>


<body>
	<p class="bannerBox"></p>
	  
	<h1 class="text-5xl mb-5 text-center">
	  <pageTitleHolder>Welcome to TAMU Wakeboarding!</pageTitleHolder>
	</h1>

	<mainContentHolder>
		<div class="slideshow-container">

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8C8EZEvgWXAYzoV2xA2qNzVHyIlARQXLtekna7zDF-NcUCFOwpbSTPsnPYvfF4Sy8p7R-icQFIIDqNBCO_h9JmPQXHWmLEYkqq_gGXwXwxReiPGadV6JESi0o-YcG0TxTWoh_53qVPHn3Ed6BDXvxzQ=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8D4znt8LzujjK4IQ0c23_LhieJpbzu5C5SFiTV4WDUtln9o5CLhWzfdRXpz32k33tbNj-W9aOCMNl9ucfwMBOMX3jRsXjg_PcrPJWjqU1cFzMf7RwdB_RsYK5QXg5R80XyF9-OPA7P6NaYphpcTAGk0=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8CMT0zuq9Sd1lIQsdTJ-7Lb42uo4cMqIo3r3mWhKcLtlgr_BLlDneEboFllMwWoaQhBkVO_cZnPJhdZP0kp7DmINhedmZP0t4GYvsy3B-rRceWJ3sdzl1gsT8TGBYluy3WHObQwd-h5ABjDZqI53zYS=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>	

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8BjVnEBebijEK3aBxBDfK9DZY_yEqlx4YYyjGTTM1bhnXhAbOF5bKQyY1SdakIkoRBbIow48HhcKsN6oRIE4r4DwL6yCNBb1Nf79AWNEYD1QmjGTs1ZM-omvfmHvQiaUayxEINUSr63Sa_6X6z8Ep4p=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8B08HHSPvvmB0MG5kh1Gs7fGKx8NAbtVWUXoS8a84Mk3HXVCqfk9Js_LJ7w11lYeW8-OMOUVXGScJlDLyvEphuH7rMWBwgScusx5b19WXhpYQDjQZjeGO2_Ou7u6uW7f858Z1_PMdkrAsdL0HOM6y66=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8AuOkcIFpGwXu_CMlFj2FNhzA4jXVKVXiebuIS1iz_wxlEPiZfsPo6TuEOWZb34wT0uKwWJncih2RgYvPu7pg1ThI0oji8Yi3YUsY6uwx0phxhPOLyblAvoR9It4yK_sgNczZDBcY2u33FLo1Bs_Nb5=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8DVHJKs6uOvgHajDR-uMUcwSWIkom9N9eQECsvA-zsGVduxd89xK-iIt9TaVnGjBsJYod6zueStCVq9dSHTdUvwA6Zr78NlCTEerFn8KfJFr9prAnI02PAf5JmmS-OSIGBUVCRWCwtsi5rMX27Jg-JB=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8DU3wBFAJs0FYgtaK4HD1clQPtTOXWFkMHAu6XeuJAZStvak619b_vQLrKZgV0E6Cu2ELsuJSCJQKDWKWHgFZAJpnNtFR8xYbJGTMP8hiXApBPJOxHNIs4p5MJ9_BhBNnnKVxPhJ5dfitGIUy3nDPtK=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8C7jlGQPcY_UVZKEnXckSGgX2V_H6Rgdj2csxrAmrnD7AwkNsvme3tBRmTy_ks8A84-XcEGmMIoMd9s7K8Lx6-nIIUQmMqoUC34aXrRcBk5v8ObVDXWuSkAN0VHay1HQYHLdtgjlx1Cu-faKpx6r4uO=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8C4YvcSBvJLnQnSf8UMcrWBenvw0DOe2FvBWodJU2L22Y_hva8fyZB3bEuww03eqwfh7nttWTixj_kkXDqhQdyZEsV4Nm90FUOhYmF7utz4jUO56nAhkuPOrdVZ3VRKfN6SetVSlomutd1p6VCf5GAa=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8BhPZnuliN97qnC3SLxFjWzHYg1GM6RM7ab_LazcYHHKa5ADgL_sgAEWZS4ozEaaiKSsBZ5jRTlijH2jedmxJYGnbFEcysAF0qVLy1AolvnzY3LcLs19znIDd_WJQIhQFqx-KxRPW17BdZyy4dUUGdn=w1405-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8DFKOxoXjjMfPYyVjV2oXocZeOCuD6ZdMVap8UUTDKMYMGdFhANp-VafV18svYYofLkDiie7ORE_-oMoPeFt2Yohgk-cya-aMa5QUwV_yYi1fW4nbwqihxMbBGt85CZ9TKQkpxI4QWThW3HeJPUnLuk=w1170-h770-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8CmeUUpE-Gl-zOHwvZMyD7WFQxSwL-YWwZKuBz8MXp7trpVNiKN6eyoNLbM6kdcY49kQZkAeU9QGMJ6ey7vASndfP2ZYwMlBmATrnfmG2mI4q3QgKcXQNTBCvMIF_xZ8yMask1_efObpATucFrDROKP=w1170-h757-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8D1ch8dpwbTqdcX_lAJvH9apqYlKXDTopDEWnXa3m9mTl7bvSo_-CRb3z-lu3EsLR_sz7VMcDtqBEXVy4SEGjoA8KIlOy9WDzS-mFp9fzDBIMeWSLW0qMV1hsF6I_eYROFaHixaXFh7p1zHwdyyLvLm=w1417-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8Dc2mCQ1Ync7p0KHLW0NIUxBtAbmQiBaBmXSt9xf2EEvMYwTmUzi7wJ6_GcI98c4uTkS-jjlssi38gZDuyVVMSqXakNe84ClHfsKuYErh_pLjNvnvMd3LIpNk5DahkpCSMtWaEAQ-bAybo-Z8WI-MuJ=w1193-h795-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8DYTdObrDa7B2qUsj4LiDRipK_Cgv-9UNhzmfcJUzdKkE6ivx4XnFMRc4X_oADp82vLbJsGQ9fnX2R2i6CvbwTaj1elx_C-RDZQGsRLKbjgnsm8Dg5vvc2pqH3DwQi4jMfMBBhHQqYWXY_WF5-AofBn=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8BrR1zWQHAgIQVIzyKyDBhw0UkM3RlK5zjftaUZyD09uqhGy1BC3bsrijWIQ48qsKkenxOdlKcoaG1soXVPZNRCI8MFRUnknKqrZwPzPJWXj-aXXq-707oK8IN4fVSHl-j73JDwOGDwIVIXaqUeZWLT=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<div class="mySlides fade">
		  <img src="https://lh3.googleusercontent.com/pw/AMWts8BwTKL62DczFKSIJ9r0rDKdtJYGSQZNXI2DF-eIXQEkAThiigzEtT4W5dE3qavpwzLdN1scZWgANU022a7HuZYQ8il7D80RCJIkNG4X_haZ8TPoJ_DIrlOspMiXYPr7aYukqypV0aTjhLXSYvjBbQ6d=w1406-h937-s-no?authuser=0" style="width:100%">
		</div>

		<a class="prev" onclick="plusSlides(-1)">❮</a>
		<a class="next" onclick="plusSlides(1)">❯</a>

		</div>
		<br>

		<script>
			let slideIndex = 1;
			showSlides(slideIndex);

			function plusSlides(n) {
			  showSlides(slideIndex += n);
			}

			function currentSlide(n) {
			  showSlides(slideIndex = n);
			}

			function showSlides(n) {
			  let i;
			  let slides = document.getElementsByClassName("mySlides");
			  let dots = document.getElementsByClassName("dot");
			  if (n > slides.length) {slideIndex = 1}    
			  if (n < 1) {slideIndex = slides.length}
			  for (i = 0; i < slides.length; i++) {
			    slides[i].style.display = "none";  
			  }
			  for (i = 0; i < dots.length; i++) {
			    dots[i].className = dots[i].className.replace(" active", "");
			  }
			  slides[slideIndex-1].style.display = "block";  
			  dots[slideIndex-1].className += " active";
			}
		</script>
	</mainContentHolder>
</body>

