<head>
  <%- title "Sign In | TAMU Wakeboarding" %>
</head>

<h1 style="padding: 50px;" class = "center">  
Welcome to the official TAMU Wakeboarding website, please <%= link_to "sign in with your TAMU account to continue", admin_google_oauth2_omniauth_authorize_path%>
</h1>