<head>
  <%- title ("Set History - " + current_admin.first_name + " | TAMU Wakeboarding") %>
</head>  
  <h3 class="text-2xl">Your Past Sets</h3>

  <div>
    <table class="border-collapse border table-auto">
      <thead>
        <tr>
          <th class="border-b">Date</th>
          <th class="border-b">Time</th>
          <th class="border-b">Drivers</th>
          <th class="border-b"></th>
        </tr>
      </thead>
      <tbody id="sets">
        <%= render partial: "set", collection: @sets %>
      </tbody>
    </table>
    
    <div id="next_link">
      <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next) %>
    </div>
  </div>