body {
	background-image: url("pexels-photo-1001682.jpeg");
	background-size: cover;
}

@font-face {
   font-family: 'Americancaptain';
   src: url('AMERICANCAPTAIN.otf');
}

@font-face {
   font-family: 'Indoscreen';
   src: url('INDOSCREEN.ttf');
}

a:link {
	color: white;
}

a:visited { 
	color: #AFAFAF;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #500000;
  display: inline;
  text-align: center;
  color: white;
  font-size: 25px;
  float: left;
  border-right-style: solid;
  border-color: black;
  font-family: Indoscreen;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 1px;
  background-color: #500000;
  display: inline;
  text-align: center;
  color: white;
  float: left;
  border-right-style: solid;
  border-color: black;
  font-family: 'Americancaptain', sans-serif;
  font-size: 55px;
  line-height: 55px;
}

.navbar:hover {
	background-color: #094169;
}

.navbarRightEnd {
  border-radius: 0px 25px 25px 0px;
  margin-right: 25px;
}

.navbarLeftEnd {
  border-radius: 25px 0px 0px 25px;
  border-left-style: solid;
}

.currentPage {
	background-color: #206C9D;
}

banner {
  border-style: solid;
  border-radius: 25px;
  margin-top: 25px;
  margin-left: -5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  background-color: #500000;
  font-size: 80px;
}

.bannerBox { 
  padding-top: 110px;
  padding-bottom: 140px;
  display: block;
}

.itemDisplay {
  background-color: white;
  opacity: .75;
  width: 85%;
  height: 60%;
  margin-left: 5%;
  position: absolute;
  align: center;
  font-size: 50px;
  overflow-y: auto;
  margin-top: 100px;
}

.itemDisplay a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.itemDisplay a:hover {
  background-color: #ccc;
}

headerBox {
  border-style: solid;
  border-radius: 25px 25px 0px 0px;
  margin-top: 25px;
  margin-left: 5.1%;
  width: 84%;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 0px;
  float: left;
  background-color: #3696d1;
  font-size: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.user h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.user p {
  margin: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}