<div id="<%= dom_id receipt %>">
  <p>
    <strong>Value:</strong>
    <%= receipt.value %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= receipt.driver %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= receipt.date %>
  </p>

</div>
