<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Edit Your Set | TAMU Wakeboarding" %>
</head>
  
<p class="bannerBox"></p>
  
<div class="container mx-auto px-5 md:px-16">
  <div class="flex flex-row my-4">
    <%= link_to wakeboard_sets_path, class: "hover:underline hover:underline-offset-4" do %>
      <span class="text-slate-900"><i class="fa-solid fa-caret-left"></i> Back to Set List</span>
    <% end %>
  </div>

  <div class="flex flex-row justify-center">
    <div class="bg-white rounded-lg drop-shadow-xl w-3/4 p-5">
      <%= render partial: "edit_form", locals: { wakeboard_set: @wakeboard_set, drivers: @drivers } %>
    </div>
  </div>
</div>
