<head>
	<%= stylesheet_link_tag "styles.css" %>
  <%- title "Create a Set | TAMU Wakeboarding" %>
</head>

<ul>

<%= render "/navbar"%>
  
<p class="bannerBox"></p>
  
<h1 class="text-5xl mb-5 text-center">
  <pageTitleHolder>New Wakeboard Set</pageTitleHolder>
</h1>

<mainContentHolder>

  <%= render "form", wakeboard_set: @wakeboard_set %>

  <br>

  <div>
    <%= link_to "Back to wakeboard sets", wakeboard_sets_path %>
  </div>
  
</mainContentHolder>